{% extends "@a/layout.twig" %}

{% block scripts %}
{% endblock %}

{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ path('redirects/add') }}">Добавить</a>
                <ul>
                    {% for redirect in redirects %}
                        <li class="my-3">
                            <div class="font-weight-bolder">{{ redirect.oldUrl }} <a target="_blank" class="text-reset small" href="{{ redirect.oldUrl }}"><i class="fa fa-external-link-alt"></i></a> </div>
                            <div>Type: <span class="font-weight-bolder">{{ redirect.type }}</span></div>
                            <div>Redirect Params: <code>{{ redirect.redirectParams|json_encode }}</code></div>
                            <div>
                                <a href="{{ path('redirects/edit', {"id": redirect.id}) }}">редактировать</a>
                                <a href="{{ path('redirects/delete', {"id": redirect.id}) }}">удалить</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>


{% endblock %}
